<!DOCTYPE HTML>
<html ng-app="app" ng-controller="Index">

<head>
    <!-- <script src="../../node_modules/angular/angular.js"></script> -->
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/main-script.js"></script>
    <script src="/scripts/index-script.js"></script>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <title>{{pageTitle}}</title>
</head>


<body>
    <div>
        <h1>{{pageTitle}}</h1>
        <h2>Página inicial</h2>
    </div>
    
</body>

</html>