<!DOCTYPE HTML>
<html ng-app="app" ng-controller="Pedido">

<head>
    <!-- <script src="../../node_modules/angular/angular.js"></script> -->
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/main-script.js"></script>
    <script src="/scripts/pedido-edit-script.js"></script>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">

    <title>{{pageTitle}}</title>
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <label class="navbar-brand">Controle de Vendas</label>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/produtos">Produtos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/pedidos">Pedidos<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid" id="buscaDeCliente">
        <div>
            <h1>{{pageTitle}}</h1>
        </div>
        <br>
        <form>
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="txtBuscaCliente" ng-disabled="bloquearSalvar" data-ng-model="data.buscaCliente">
                        <div class="input-group-btn">
                            <button id="btnBuscarCliente" class="form-control" ng-disabled="bloquearSalvar" ng-click="buscaClientePorTel()"><span class="fa fa-search fa-lg" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- <span ng-hide="!bloquearSalvar" class="color-red">Pedido já cancelado ou entregue não permite edição!</span> -->
                    <span ng-hide="!entregue" class="color-red">Pedido já entregue!</span>
                    <span ng-hide="!cancelado" class="color-red">Pedido cancelado!</span>
                    <span ng-hide="cliente != ''" class="color-red">Cliente não encontrado. <a href="/clientes/cliente-edit/" target="_blank">Deseja cadastrar</a>?</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <b>Nome:</b> {{cliente.nome}}
                </div>
                <div class="col-md-2">
                    <b>Tel. Princ.:</b> {{cliente.telprincipal}}
                </div>
                <div class="col-md-2">
                    <b>Tel. Sec.:</b> {{cliente.telsecundario}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <b>Endereço:</b> {{cliente.endereco}}
                </div>
                <div class="col-md-2">
                    <b>Comp.:</b> {{cliente.complemento}}
                </div>
                <div class="col-md-3">
                    <b>Bairro:</b> {{cliente.bairro}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <b>Empresa:</b> {{cliente.empresa}}
                </div>
                <div class="col-md-2">
                    <b>Aceitar Fiado?</b> {{true == cliente.fiado ? 'Sim' : 'Não' }}
                </div>
                <div class="col-md-3">
                    <b>Email:</b> {{cliente.email}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <b>Observação:</b> {{cliente.observacao}}
                    <hr>
                </div>
            </div>
        </form>

    </div>
    <div class="container-fluid" id="cadastroPedido">

        <div class="row">
            <!-- <div class="col-md-1">
                <label for="txtNumero"># Pedido</label>
                <span class="form-control">123</span>
            </div> -->
            <div class="col-md-2">
                <label for="cbMetodoPgto">Método de Pagamento</label>
                <select name="cbMetodoPgto" ng-disabled="bloquearSalvar" class="form-control" data-ng-model="data.MetodoPgto">
                            <option value="">Selecione</option> 
                            <option value="Dinheiro">Dinheiro</option>
                            <option value="Sodexo">Sodexo</option>
                            <option value="VR">VR</option>
                            <option value="Débito">Débito</option>
                            <option value="Crédito">Crédito</option>
                            <option value="Fiado" ng-if="cliente.fiado == true">Fiado<option>
                        </select>
            </div>
            <div class="col-md-2">
                <label for="txtValorTotal">Valor Total</label>
                <span class="form-control">{{valorTotal | currency:"&#82;&#36;"}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="DtPedido">Data do pedido</label>
                <input type="datetime-local" ng-disabled="bloquearSalvar" class="form-control" id="DtPedido" data-ng-model="dtPedido">
            </div>
            <div class="col-md-3">
                <label for="DtPedido">Data planejada da entrega</label>
                <input type="datetime-local" ng-disabled="bloquearSalvar" class="form-control" id="DtEntrega" data-ng-model="dtEntrega">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <label for="txtObservacao">Obseração</label>
                <textarea id="txtObservacao" ng-disabled="bloquearSalvar" data-ng-model="data.observacao" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="buscaDeProduto">
        <br>
        <form>
            <div class="row">
                <div class="col-md-2">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-disabled="cliente == null || cliente == '' || bloquearSalvar" id="txtBuscaProduto"
                            data-ng-model="data.buscaProduto">
                        <div class="input-group-btn">
                            <button id="btnBuscarProduto" class="form-control" ng-click="buscaProdutoPorCodigo()" ng-disabled="cliente == null || cliente == '' || bloquearSalvar"><span class="fa fa-search fa-lg" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <b>Nome:</b> {{produto.nome}}
                </div>
            </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Valor:</b> {{produto.valor | currency:"&#82;&#36;" }}</div>
        <div class="col-md-3"><b>Classificação:</b> {{produto.classificacao}}</div>
    </div>
    <div class="row">
        <div class="col-md-8"><b>Observação:</b> {{produto.observacao}}</div>
    </div>
    <br>
    <div="row">
        <div class="col-md-2">
            <div class="input-group">
                <div class="input-group-label">
                    <span style="">Qtd.:</span>
                </div>
                <input type="number" class="form-control" id="txtQtd" data-ng-model="quantidade" ng-disabled="produto == null || produto == '' || bloquearSalvar">
                <div class="input-group-btn">
                    <button id="btnAdicionar" class="form-control" ng-disabled="produto == null || produto == '' || bloquearSalvar" ng-click="adicionarProduto()"><span class="fa fa-cart-plus fa-lg" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
        </div>
        </form>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <table class="table table-sm table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>Código</th>
                                <th>Nome</th>
                                <th>Valor</th>
                                <th>Quantidade</th>
                                <th>Remover</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in ListaDeProdutos track by $index">
                                <td>{{$index +1}}</td>
                                <td>{{ x.produto.codigo }}</td>
                                <td>{{ x.produto.nome }}</td>
                                <td>{{ x.produto.valor | currency:"&#82;&#36;"}}</td>
                                <td>{{ x.quantidade }}</td>
                                <td><span class="fa fa-times" aria-hidden="true" ng-click="bloquearSalvar || removerProduto($index)"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span></span>
                </div>
                <div class="col-md-2">
                    <br> <input type="submit" value="Salvar" ng-disabled="bloquearSalvar" ng-click="clickSalvar()" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="{{alert}}" style="text-align: center">{{msgRetorno}}</div>
                </div>
            </div>
        </div>
</body>

</html>