<!DOCTYPE HTML>
<html ng-app="app" ng-controller="Produto">

<head>
    <!-- <script src="../../node_modules/angular/angular.js"></script> -->
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/main-script.js"></script>
    <script src="/scripts/produto-script.js"></script>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">

    <title>{{pageTitle}}</title>
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <label class="navbar-brand">Controle de Vendas</label>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clientes">Clientes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/produtos">Produtos<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pedidos">Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contas">Contas</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div>
            <h1>{{pageTitle}}</h1>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1">
                <a href="/produtos/produto-edit/"><label>Novo <span class="fa fa-plus-square fa-lg" aria-hidden="true"></span></label></a>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" ng-click="Anterior()">Anterior</a>
                        </li>
                        <!-- <li class="page-item" ng-repeat="x in paginas"><a class="page-link" href="#" ng-click="buscaProdutos(x)">{{x}}</a></li> -->
                        <label class="form-control">{{paginaAtual}}/{{paginas.length}}</label>
                        <li class="page-item">
                            <a class="page-link" href="#" ng-click="Proximo()">Próxima</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" class="form-control" id="txtbuscaProduto" data-ng-model="buscaCodigoProduto" placeholder="Código Produto">
                    <div class="input-group-btn">
                        <button id="btnBuscaProdutoPorCod" class="form-control" ng-click="BuscaProdutoPorCod()"><span class="fa fa-search fa-lg" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-sm table-hover">
                    <thead class="thead-inverse">
                        <tr>
                            <th></th>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Valor</th>
                            <th>Classificação</th>
                            <th>Ativo</th>
                            <th>Observação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in listaProdutos">
                            <td><a href="/produtos/produto-edit/{{x._id}}"><span class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></span></a></td>
                            <td>{{ x.codigo }}</td>
                            <td>{{ x.nome}}</td>
                            <td>{{ x.valor | currency:"&#82;&#36;"}}</td>
                            <td>{{ x.classificacao }}</td>
                            <td>{{true == x.ativo ? 'Sim' : 'Não' }}</td>
                            <td>{{x.observacao}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>